h1{
	text-align:center;
}
div{
	margin-top:50px;
	padding:20px;
}
section{
	clear: right;
}
#p1, #p2, #p3{
	background-color:gray;
	width: calc(33.3% - 20px);
	float:left;
	margin-right:20px;
}
#chicken, #beef, #sushi{
	border:1px solid black;
	width:100px;
	text-align:center;
	padding-top:20px;
	padding-bottom:20px;
	float:right;
}
#chicken{
	background-color:red;
}
#beef{
	background-color:green;
}
#sushi{
	background-color:cyan;
}
@media (min-width: 768px) and (max-width: 991px){
#p1{
	width: (50% - 24px);
}
#p2{
	float:left;
	width: (50% - 24px);
}
#p3{
	clear:left;
	width:(100%-24px);
}
}
@media (max-width: 767px){
#p1, #p2, #p3{
	width: (100%-24px);
	clear:left;
}
}
